{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 125,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": true,
    "singleAttributePerLine": true
}
